@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.preloader {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    z-index: 1000000;
    flex-flow: column;
    justify-content: space-between;
}

.preloader.active{
    transform: translateY(-100vh);
    transition: ease-in-out 2s;
    transition-delay: 1s;
}

.preloader::before{
    content: 'loding';
    position: absolute;
    font-size: 12em;
    opacity: 0.03;
    top: 35%;
}

.counter{
    position: relative;
    color: #000;
    font-size: 12em;
    font-weight: 700;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
}

.counter::after{
    content: '%';
    font-size: 0.5em;

}

.hide{
 opacity: 0;
 transition: 1s;
 pointer-events: none;
}


@media (max-width: 767.99px){
.counter{
    font-size: 5em;
}

.preloader::before{
    font-size: 6em;
}
}
